body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd0a8;
    color: #333333;
    font-family: 'calibre', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container {
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    flex: 0 0 80%;
}

#quote-Btn {
    border: none;
    color: #fff;
    background-color: #d89156;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
}

#quote-Btn:hover {
    color: #ffd000;
}

blockquote {
    background-color: #f9f9f9;
    border-left: 10px solid #fcdbbf;
    margin: 1.5rem;
    padding: 0.5rem;
}

#quote-Author {
    color: #ffd000;

}